{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

                    <small>login_user_1@example.com</small>
                    <small>password</small>

                    {{ form_start(loginForm, {
                        action: path('app_auth_login'),
                        method: 'POST'
                    }) }}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            {{ form_row(loginForm.email, { attr: { placeholder: 'name@example.com' } }) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(loginForm.password) }}
                        </div>

                        <div class="d-grid gap-2">
                            {{ form_row(loginForm.login, { attr: { class: 'btn btn-primary btn-lg' } }) }}
                        </div>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
